

body {
  padding: 0px;
  margin: 0px 10%;
  background-color: #F4F2DE;
  color: #333;
}

p {
  margin: 0px;
}

a {
  color: #FF6969;
  text-decoration: none;
}

/* 移动设备 */
@media (max-width: 767px) {
  main {
    padding: 0px;
  }
}

/* 平板 */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    padding: 0px;
  }
}

/* 小桌面 */
@media (min-width: 1024px) and (max-width: 1299px) {
  main {
    padding: 0px;
  }
}

/* 大桌面 */
@media (min-width: 1300px) {
  main {
    padding: 0px;
  }
}