.siteList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px; /* 网格项之间的间距 */
  padding: 20px 0px; /* 容器的内边距 */
}

.filterDiv {
  margin: 20px 0px;
}

.filterDiv select {
  /* 下拉菜单样式 */
  padding: 6px 12px;
  margin: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #F4F2DE;
}

.filterDiv select:focus {
  /* 下拉菜单聚焦时的样式 */
  outline: none;
  border-color: #a1ccd1;
}

/* 根据视口宽度调整网格的列数 */
@media (max-width: 767px) {
  .siteList {
    grid-template-columns: repeat(1, 1fr); /* 移动设备：1列 */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .siteList {
    grid-template-columns: repeat(1, 1fr); /* 平板：2列 */
  }
}

@media (min-width: 1024px) and (max-width: 1299px) {
  .siteList {
    grid-template-columns: repeat(1, 1fr); /* 小桌面：3列 */
  }
}

@media (min-width: 1300px) {
  .siteList {
    grid-template-columns: repeat(1, 1fr); /* 大桌面：4列 */
  }
}
