.layout {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #bbb;
    padding: 20px;
    height: 40px;
}

.header button {
    float: right;
}

.logo {
    font-weight: bolder;
    font-size: larger;
}

.logo:hover {
    text-decoration: none;
}

.footer {
    background: #bbb;
    padding: 10px;
    text-align: center;
  }