.layout {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
}

.header {
    padding: 20px 0;
}

.header p {
    margin: 0;
}

.tipsDiv a {
    color: #FF6969;
}

.logo h1 {
    margin: 0;
    /* text-align: center; */
}

.logo:hover {
    text-decoration: none;
}

.footer {
    padding: 10px;
    text-align: center;
}

.footer a {
    color: #FF6969;
}