.container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.siteCard {
    width: 19%;
    margin: 10px;
    padding: 5px;
    background-color: #bbb;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.placeholder {
    width: 19%;
    margin: 10px;
    padding: 5px;
    visibility: hidden;
  }

.cardLink:hover {
    text-decoration: none;
}