.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.siteCard {
    width: 90%;
    margin: 10px;
    padding: 10px;
    background-color: #A1CCD1;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.siteCard:hover {  
    transform: translateY(0px) scale(1.03);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.siteCard h2 {
    margin: 0;
}

.siteCard p {
    margin: 0;
}

.cardLink:hover {
    text-decoration: none;
}