html, body {
    padding: 0;
    margin: 0;
    background: #F4F2DE;
    color: #102C57;
}

a {
    color: #102C57;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p a {
    color: #FF6969;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}